
  <!-- ENTETE -->  

<div class=" header bg-danger pb-6" id="bg-navbar-main">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 text-white d-inline-block mb-0"> Partenaires de LASHU </h6>
  
            <nav
              aria-label="breadcrumb"
              class=" d-none d-md-inline-block ml-md-4"
            >
              <!-- <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                </li>
  
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> liste </a>
                </li>
  
                <li aria-current="page" class=" breadcrumb-item active">
                  partenaires
                </li>
              </ol> -->
            </nav>
          </div>
  
          <div class=" col-lg-6 col-5 text-right">
            <a class=" btn btn-sl " id ="btnColor2" (click)="open(classicPartenaire)"> 
                <i class="ni ni-fat-add"></i> Add Partenaire 
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MA LISTE DE DONNEE -->
  <div class=" container-fluid mt--6">
    <div class=" row">
      <div class=" col">
        <div class=" card">
          <div class=" card-header border-0">
            <h3 class=" mb-0">Nos Partenaires </h3>
          </div>
  
          <div class=" table-responsive" id="first-list">
            <table class=" table align-items-center table-flush">
              <thead class=" thead-light">
                <!-- HEADER TABLES -->
                <tr>
                  <th class=" sort" data-sort="logoPart" scope="col">Logo</th>
  
                  <th class=" sort" data-sort="nomPart "  scope="col">Nom Partenaire </th>
  
                  <th class="sort" 
                    data-sort="descriptionPart" 
                    scope="col" 
                    style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;" > Description </th>

                  <th class=" sort" data-sort="siteWebPart" scope="col"> Site Web  </th>

                  <th class=" sort" data-sort="actif" scope="col"> Partenariat Actif </th>
  
                  <th scope="col" colspan="2">Operations</th>
                </tr>
              </thead>
              <!-- BODY TABLES -->
              <tbody class=" list">
                    <tr *ngFor="let partenaires of partenaires">

                        <th scope="row">
                            <div class=" media align-items-center">
                            
                               <a [href]="partenaires.siteWebPart" target="_blank">
                                <img  class=" avatar rounded-circle mr-3" 
                                [src]="partenaires.logoPart" alt="Logo"
                            />
                               </a>
                                    
                            </div>
                            
                        </th>
                        <td> <b>{{partenaires.nomPart}}</b> </td>
                        
                        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;"> 
                          {{partenaires.descriptionPart}} 
                        </td>

                        <td> <a [href]="partenaires.siteWebPart" target="_blank" >{{partenaires.siteWebPart}}</a> </td>

                        <td [ngStyle]="{'text-align':'center','color': partenaires.actif ? 'green' : 'red'}">
                            {{ partenaires.actif ? 'oui' : 'non' }}
                          </td>

                          <td>
                            <i class="fas fa-pencil-alt solid text-success" 
                            style="cursor: pointer;" 
                            (click)="openEditModal(modalEditPartenaire,partenaires)"></i>
                          </td>                         
                        <td>                        
                            <i class="fas fa-trash-alt text-danger" style="cursor: pointer;" (click)="deletePartenaire(partenaires)"></i>
                       </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- ==================================================================================== -->

<!-- MON FORMULAIRE -->
<ng-template #classicPartenaire let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title " id="modal-title-default" >Ajouter un nouveau Partenaire à LASHU</h6>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="d('Cross click')">
        <span aria-hidden="true" style="color: white;"> × </span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="partenaireForm" >
          <div class="form-group">
          <label for="example-text-input" class="form-control-label">Nom Partenaire</label>
          <input class="form-control" type="text" placeholder="Nom partenaire" 
                 formControlName="nomPart">
        </div>
           
        <div class="form-group">
          <label for="example-search-input" class="form-control-label">Description</label>
          <textarea class="form-control" placeholder="Description" formControlName="descriptionPart" rows="4"></textarea>
      </div>
      
      
        <div class="form-group">
          <label for="example-email-input" class="form-control-label">Site Web</label>
          <input class="form-control" type="text" placeholder="URL du site web" 
                formControlName="siteWebPart">
        </div>

        <div class="form-group">
          <label class="form-control-label">Logo du Partenaire</label> <br>
          <input 
            type="file" 
            placeholder="Logo"  
            formControlName="logoPart"
            
            (change)="onFileSelected($event)"
            accept="image/*"
            >
            <!-- [(ngModel)]="activeRow.logoPart" -->
        </div> 

         <div class="form-group">
          <label class="form-control-label">Partenariat Actif</label>
          <br>
          <label class="custom-toggle">
            <input type="checkbox" checked="" formControlName="actif">
            <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
          </label>
        </div>

        <div>
          <button class="btn" id="btnColor2" type="submit" (click)="ajoutPartenaire()">
              Enregistrer
          </button>
          <button aria-label="Close" class="btn btn-secondary" type="button" (click)="c('Close click')">Annuler</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>




<!-- ============================================================================================== -->


<!-- MODAL POUR EDITER -->
<!-- Mon formulaire d'édition -->

 <ng-template #modalEditPartenaire let-c="close" let-d="dismiss">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Édition du Partenaire</h6>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="partenaireForm" >
          <div class="form-group">
            <label for="nomPart">Nom Partenaire</label>
            <input type="text" class="form-control" id="nomPart" formControlName="nomPart">
          </div>

          <div class="form-group">
            <label for="example-search-input" class="form-control-label">Description</label>
            <input class="form-control" type="text" placeholder="Description" id="example-text-input"
                   name="descriptionPart" formControlName="descriptionPart">
          </div>  

          <div class="form-group">
            <label for="example-email-input" class="form-control-label">Site Web</label>
            <input class="form-control" type="text" placeholder="URL du site web" id="example-text-input"
                   name="siteWebPart" formControlName="siteWebPart">
          </div>

          <div class="form-group">
            <label class="form-control-label">Logo du Partenaire</label> <br>
            <input type="file" placeholder="Logo" name="logoPart" formControlName="logoPart">
          </div>

          <div class="form-group">
            <label class="form-control-label">Partenariat Actif</label>
            <br>
            <label class="custom-toggle">
              <input type="checkbox" checked="" name="actif" formControlName="actif">
              <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
            </label>
          </div>

          <button class="btn" id="btnColor2" type="submit" (click)="modifierPartenaire()"> Modifier </button>

          <button aria-label="Close" class="btn btn-secondary" type="button" (click)="c('Close click')">
            Annuler
        </button>
        
        </form>
      </div>
    </div>
  </ng-template>
