<div class="row" >
  <!-- id="btn-Article" -->
  <div class="col-md-4" id="btn-Article">

    <button class="btn btn-block btn-primary " (click)="open(classic)" id="btnColor">
      Ajouter Article
    </button>
  </div>
</div>

  <ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="modal-title-default" >Ajouter Article</h6>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="d('Cross click')">
          <span aria-hidden="true"> × </span>
        </button>
      </div>
      <div class="modal-body">
        <form name="articleForm" [formGroup]="articleForm" (ngSubmit)="RecupDonneArticle()">
  
          <div class="form-group">
            <label for="example-text-input" class="form-control-label">Titre</label>
            <input class="form-control" type="text" placeholder="Titre de l'article" id="example-text-input"
                   name="titre" formControlName="titre">

          <div class="form-group">
            <label for="example-search-input" class="form-control-label">Description</label>
            <input class="form-control" type="text" placeholder="description" id="example-search-input"
                   name="description" formControlName="description">
          </div>  
          <div class="form-group">
            <label for="example-email-input" class="form-control-label">Date Publication</label>
            <input class="form-control" type="date" placeholder="jj/mm/aaaa" id="example-email-input"
                   name="date" formControlName="date">
          </div>
          <div class="form-group">
            <label  class="form-control-label" >Type Article</label>
            <!-- <select class="form-control form-control-sm" name="typeArticle" formControlName="typeArticle" (change)="onTypeArticleChange(additionalFields)">
              <option>Actualité</option>
              <option>Evènement</option>
              <option>Opportunité</option>
            </select> -->
            <select class="form-control form-control-sm" name="typeArticle" formControlName="typeArticle" (change)="openAdditionalFieldsModal($event)">
              <option>Actualité</option>
              <option>Evènement</option>
              <option>Opportunité</option>
            </select>
            
          </div>
          <div class="form-group">
            <label  class="form-control-label" >Visible </label>
            <br/>
            <label class="custom-toggle">
              <input type="checkbox" checked="" name="visible" formControlName="visible">
              <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
            </label>
          </div>
          <div class="form-group">
            <label  class="form-control-label" >Archivé </label>
            <br/>
            <label class="custom-toggle">
              <input type="checkbox" checked="" name="archive" formControlName="archive">
              <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
            </label>
          </div>
          <!--            PARTIE IMAGE-->
          <label  class="form-control-label" >Image Couverture </label>
          <div class="dropzone dropzone-single" data-toggle="dropzone" data-dropzone-url="http://">
            <div class="fallback">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="dropzoneBasicUpload" />
                <label class="custom-file-label" for="dropzoneBasicUpload" formControlName="Imagecouverture"
                >Choose file</label>
              </div>
            </div>
            <div class="dz-preview dz-preview-single">
              <div class="dz-preview-cover">
                <img class="dz-preview-img" src="..." alt="..." data-dz-thumbnail="" />
              </div>
            </div>
          </div>
          <br/>
          <div class="">
            <button  class="btn btn-primary" type="submit"  >Enregistrer</button>
            <button aria-label="Close" class="btn btn-secondary" type="button" (click)="c('Close click')">Annuler</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
  
  <!-- TEMPLATE ADDITIONNAL
  <ng-template #additionalFields let-c="close" let-d="dismiss">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="modal-title-primary">Champs Supplémentaires</h6>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="d('Cross click')">
          <span aria-hidden="true"> × </span>
        </button>
      </div>
      <div class="modal-body">
        <form name="additionalFieldsForm">
          <div class="form-group">
            <label for="additionalLibelle" class="form-control-label">Libellé Additionnel</label>
            <input class="form-control" type="text" placeholder="Libellé Additionnel" id="additionalLibelle" name="additionalLibelle" formControlName="additionalLibelle">
          </div>
          <div class="form-group">
            <label for="additionalDescription" class="form-control-label">Description Additionnelle</label>
            <input class="form-control" type="text" placeholder="Description Additionnelle" id="additionalDescription" name="additionalDescription" formControlName="additionalDescription">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button aria-label="Close" class="btn btn-primary" type="submit" (click)="saveAdditionalFields()">Enregistrer</button>
        <button aria-label="Close" class="btn btn-secondary" type="button" (click)="c('Close click')">Annuler</button>
      </div>
    </div>
  </ng-template>
  
  
   -->