<!-- MON ENTETE -->
<div class=" header bg-danger pb-4" id="bg-navbar-main">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row py-4">
            <h5 class=" h2 text-white">
                <i> 
                 Bienvenue Cher Admin, voici votre guide d'utilisation ! 
                </i>
            </h5>
            <div class=" col-12 ">
            <ul class="navbar-nav pt-1 ">
              <div class="d-inline-flex justify-content-between ml-2">
                <li class="nav-item">
                  <button class="btn btn-sm" id="btnColor2" >
                    Manager les Articles
                  </button>
                </li> 
                <li class="nav-item">
                  <button class="btn btn-sm" id="btnColor2" >
                    Manager les Partenaires
                  </button>
                </li>
               <li class="nav-item">
                  <button class="btn btn-sm" id="btnColor2" >
                      Manager les Departements
                  </button>
                </li>
                <li class="nav-item">
                  <button class="btn btn-sm" id="btnColor2" >
                      Manager les Formations
                  </button>
                </li>
                <li class="nav-item">
                  <button class="btn btn-sm" id="btnColor2" >
                      Manager les Services
                  </button>
                </li>
                <li class="nav-item">
                  <button class="btn btn-sm" id="btnColor2" >
                      Manager l'Organigramme
                  </button>
                </li>
                
              </div>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 