<!-- MON ENTETE -->
<div class=" header bg-danger pb-2" id="bg-navbar-main">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h3 class=" h2 text-white d-inline-block mb-0">  Administrer l'Organigramme  </h3>
          </div>
          <div class=" col-lg-6 col-5 text-right">
            <a class=" btn btn-sl " id ="btnColor2" (click)="openModalDirection(addDirection)"
            > 
                <i class="ni ni-fat-add"></i> 
                 Add New Direction
                 
            </a>
          </div>  
        </div>
      </div>
    </div>
  </div>

<!-- ============================================================ -->
<ng-template #addDirection let-c="close" let-d="dismiss">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="modal-title-default">Ajouter une nouvelle Direction à LASHU</h6>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="d('Cross click')">
          <span aria-hidden="true" style="color: white;">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myForm" (ngSubmit)="ajouterDirection()">
          <div class="form-group">
            <label for="libelleDirection">Nom de la Direction</label>
            <input formControlName="libelleDirection" class="form-control" placeholder="nom de la direction" type="text">
          </div>
          <div class="form-group">
            <label for="descriptionDirection">Description de la Direction</label>
            <textarea formControlName="descriptionDirection" class="form-control" placeholder="description" rows="2"></textarea>
          </div>
          <div class="form-group">
            <label for="prenom">Prénom du responsable</label>
            <input formControlName="prenom" class="form-control" placeholder="prenom responsable" type="text">
        </div>
        <div class="form-group">
            <label for="nom">Nom du responsable</label>
            <input formControlName="nom" class="form-control" placeholder="nom responsable" type="text">
        </div>
        <div class="form-group">
            <label for="contact">Contact du responsable</label>
            <input formControlName="contact" class="form-control" placeholder="email responsable" type="email">
        </div>
        
  
          <div class="d-flex justify-content-between">
            <button class="btn" id="btnColor2" type="submit">Enregistrer</button>
            <button class="btn btn-danger" type="button" (click)="d('Cross click')">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
  
<!-- ============================================================ -->

<!-- ============================================================ -->

<!-- MA LISTE DATATABLE -->
<div class=" container-fluid ">
    <div class=" row">
                <div class="dataTables_wrapper py-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length"
                                id="datatable_length">
                                <label style="color: black;">
                                    Afficher les
                                    <select
                                        name="datatable_length"
                                        aria-controls="datatable"
                                        class="form-control form-control-sm"
                                        (change)="entriesChange($event)">
                                        <option value="5"
                                            [selected]="entries==5">5</option>
                                        <option value="10"
                                            [selected]="entries==10">10</option>
                                        <option value="25"
                                            [selected]="entries==25">25</option>
                                        <option value="50"
                                            [selected]="entries==50">50</option>
                                        <option value="-1"
                                            [selected]="entries==-1">All</option>
                                    </select>
                                    premieres
                                </label>
                            </div>
                        </div>
                        <div >
                            <!-- class="col-sm-12 col-md-6" -->
                            <div id="datatable_filter"
                                class="dataTables_filter">
                                <label>
                                    <input
                                        type="search"
                                        class="form-control form-control-sm"
                                        placeholder="Rechercher une direction"
                                        aria-controls="datatable"
                                        (keyup)="filterTable($event)" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div >
                            <ngx-datatable 
                                id=" my-datatable"
                                class="bootstrap selection-cell "
                                [headerHeight]="'auto'"
                                [style]="'color:green'"
                                [footerHeight]="'auto'"
                                [rowHeight]="'auto'"
                                [columnMode]="'standard'"
                                (activate)="onActivate"
                                [limit]="entries != -1 ? entries:undefined"
                                [rows]="temp"
                                >

                                <!-- <ngx-datatable-column
                                    name="id"
                                    [width]="100">
                                </ngx-datatable-column> -->

                                <ngx-datatable-column
                                    name="libelleDirection"
                                    [width]="400">
                                </ngx-datatable-column>

                                <ngx-datatable-column
                                    name=" descriptionDirection"
                                    [width]="300">
                                </ngx-datatable-column>
                                  

                                <ngx-datatable-column
                                    name="Opérations"
                                    [width]="250"
                                    [sortable]="false"
                                    [canAutoResize]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>

                                        <i class="fas fa-pencil-alt solid text-success" 
                                        style="cursor: pointer;"
                                        (click)="openEditModal(modifFormation ,row)"></i> 
                                        &nbsp;                                            
                                        &nbsp;                                            
                                        &nbsp;                                            
                                        <i class="fas fa-trash-alt text-danger" 
                                        style="cursor: pointer;"
                                        (click)="suppressionDirection(row.id)"></i> 
                                                                                  
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column
                                name="Details"
                                [width]="200"
                                [sortable]="false"
                                [canAutoResize]="false"
                                [resizeable]="false">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <button 
                                    class="btn btn-sm" 
                                    id="btnColor2"  
                                    (click)="openDetailsModal(detailsModal, row)">
                                        Détails
                                    </button>
                                </ng-template>
                            </ngx-datatable-column>
                            

                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      

<!-- ===================================================== -->
<!-- Modal de détail -->
<!-- MON MODAL DE DETAIL -->
<ng-template #detailsModal let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" style="color: white;">Détails de la Direction</h6>
            <button aria-label="Close" class="close" type="button" (click)="c('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="activeRow?.responsableDirection">
            <h6 style="color: black;">Responsable de la Direction: </h6>
             <p>
                Nom : {{ activeRow.responsableDirection.nom }}</p>
            <p>
                Prénom : {{ activeRow.responsableDirection.prenom }}</p>
            <p>
                Contact : {{ activeRow.responsableDirection.contact }}</p>               
            </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
        </div>
    </div>
</ng-template>
  
<!-- ==================================================== -->
<ng-template #addDirection let-c="close" let-d="dismiss">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="modal-title-default">Ajouter une nouvelle Direction à LASHU</h6>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="d('Cross click')">
          <span aria-hidden="true" style="color: white;">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myForm" (ngSubmit)="ajouterDirection()">
          <div class="form-group">
            <label for="libelleDirection">Nom de la Direction</label>
            <input formControlName="libelleDirection" class="form-control" placeholder="nom de la direction" type="text">
          </div>
          <div class="form-group">
            <label for="descriptionDirection">Description de la Direction</label>
            <textarea formControlName="descriptionDirection" class="form-control" placeholder="description" rows="2"></textarea>
          </div>
          <div class="form-group">
            <label for="prenom">Prénom du responsable</label>
            <input formControlName="prenom" class="form-control" placeholder="prenom responsable" type="text">
        </div>
        <div class="form-group">
            <label for="nom">Nom du responsable</label>
            <input formControlName="nom" class="form-control" placeholder="nom responsable" type="text">
        </div>
        <div class="form-group">
            <label for="contact">Contact du responsable</label>
            <input formControlName="contact" class="form-control" placeholder="email responsable" type="email">
        </div>
        
  
          <div class="d-flex justify-content-between">
            <button class="btn" id="btnColor2" type="submit">Modifier</button>
            <button class="btn btn-danger" type="button" (click)="d('Cross click')">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
