<!-- MON ENTETE -->
<!-- <div class=" header bg-danger pb-2" id="bg-navbar-main">
    <div class=" container-fluid">
      <div class=" header-body"> 
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 text-white d-inline-block mb-0"> Departement de LASHU </h6>
  
            <nav
              aria-label="breadcrumb"
              class=" d-none d-md-inline-block ml-md-4"
            >
              <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                </li>
  
                <li aria-current="page" class=" breadcrumb-item active">
                  <a href="javascript:void(0)"> liste departement </a>
                </li>
              </ol>
            </nav>
          </div>
          <div class=" col-lg-6 col-5 text-right">
            <button class=" btn btn-sl " id ="btnColor2" (click)="open(addDept)"> 
                <i class="ni ni-fat-add"></i> 
                Add New Departement 
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  
  <!----------------------- FORMULAIRE D'AJOUT ------------------------------>
<!--   
  <ng-template #addDept let-c="close" let-d="dismiss">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title " id="modal-title-default" >Ajouter un nouveau Departement à LASHU</h6>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="d('Cross click')">
          <span aria-hidden="true" style="color: white;"> × </span>
        </button>
      </div>
      <div class="modal-body">
            <form [formGroup]="myForm" >
              <div class="form-group ">
                <h4 for="example-text-input"> Nom Departement </h4>
                    <input
                      formControlName="libelleDept"
                      class="form-control"
                      placeholder="nom departement"
                      type="text">
              </div>
                
              <div class="form-group" >
                <h4 for="example-search-input" >Description Departement</h4>
                <textarea 
                    class="form-control" 
                    placeholder="Description" 
                    formControlName="descriptionDept" 
                    rows="5">
                </textarea>
              </div>
        
              <div class="d-flex justify-content-between">
                    <button class="btn" id="btnColor2" type="submit" (click)="ajouterDepartement()"> Enregistrer </button>
                    <button class="btn btn-danger text-center" > Annuler </button>
              </div>
            </form>
    </div>
  </div>
  </ng-template> -->
  
  <br/><br/><br/>
  
  <!-- MA LISTE DE DONNEE -->
  <!-- <div class=" container-fluid mt--6">
    <div class=" row">
      <div class=" col">
        <div class=" card">
          <div class=" card-header border-0">
            <h3 class=" mb-0">Nos Départements</h3>
          </div>
  
          <div class=" table-responsive" id="first-list">
            <table class=" table align-items-center table-flush">
              <thead class=" thead-light">
                <tr>
                  
                  <th class=" sort" data-sort="nomPart "  scope="col">Nom Département </th>
  
                  <th class=" sort" data-sort="descriptionPart" scope="col"> Description Département </th>
  
              
                  <th scope="col" colspan="3">Operations</th>
                </tr>
              </thead>

              <tbody class=" list">
                    <tr *ngFor="let departement of Departement">
      
                        <td> <b>{{ departement.libelleDept }}</b> </td>
                        <td> <b>{{ departement.descriptionDept }}</b> </td>
  
                          <td>
                            <i class="fas fa-pencil-alt solid text-success" 
                            style="cursor: pointer;" 
                            (click)="openEditModal(editDept, departement)"
                            ></i>
                          </td>                         
                        <td>                        
                            <i class="fas fa-trash-alt text-danger" 
                            style="cursor: pointer;" 
                            (click)="suppressionDepartement(departement)"></i>
                       </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  
    <!-- ---------------- FORMULAIRE D'EDITION  --------------------->
    <!-- <ng-template #editDept let-c="close" let-d="dismiss">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title " id="modal-title-default" >Modification un nouveau Partenaire à LASHU</h6>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="d('Cross click')">
            <span aria-hidden="true" style="color: white;"> × </span>
          </button>
        </div>
        <div class="modal-body">
              <form [formGroup]="myForm" >
                <div class="form-group ">
                  <h4 for="example-text-input"> Nom Departement </h4>
                      <input
                        formControlName="libelleDept"
                        class="form-control"
                        placeholder="nom departement"
                        type="text">
                </div>
                  
                <div class="form-group" >
                  <h4 for="example-search-input" >Description Departement</h4>
                  <textarea 
                      class="form-control" 
                      placeholder="Description" 
                      formControlName="descriptionDept" 
                      rows="5">
                  </textarea>
                </div>
          
                <div class="d-flex justify-content-between">
                      <button class="btn" id="btnColor2" type="submit" (click)="modifierDepartement()"> Modifier </button>
                      <button class="btn btn-danger text-center" > Annuler </button>
                </div>
              </form>
      </div>
    </div>
    </ng-template> -->