<div class="header">
    <!-- <app-forms></app-forms> -->
  
    <!-- <h2> ▶ Nos Partenaires </h2> -->

    <app-list-partenaires> </app-list-partenaires>

    <!-- partenaires-list.component.html -->

<!-- <div class="modal-header">
    <h4 class="modal-title">Liste des partenaires</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismissAll">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Description</th>
   
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let partenaire of partenaires">
          <td>{{ partenaire.idPart }}</td>
          <td>{{ partenaire.nomPart }}</td>
          <td>{{ partenaire.description }}</td>
    
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismissAll">Fermer</button>
  </div>
  
</div> -->
